<div class="modal fade" id="editarProdutoModal" tabindex="-1" aria-labelledby="editarProdutoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editarProdutoModalLabel">Editar Produto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="formEditarProduto" class="row g-3 needs-validation" novalidate>
                    <div class="col-md-12">
                        <label for="quantidadeMinimaModal" class="form-label">Quantidade mínima</label>
                        <input type="text" class="form-control numero-inteiro quantidade-input" id="quantidadeMinimaModal" name="quantidadeMinima" required />
                        <div class="invalid-feedback">Por favor, insira uma quantidade válida (ex: 10).</div>
                    </div>

                    <div class="col-md-12">
                        <label for="quantidadeEstoqueModal" class="form-label">Quantidade estoque (inicial)</label>
                        <input type="text" class="form-control numero-inteiro quantidade-input" id="quantidadeEstoqueModal" name="quantidadeEstoque" required />
                        <div class="invalid-feedback">Por favor, insira uma quantidade válida (ex: 100).</div>
                    </div>

                    <div class="col-md-12">
                        <label for="valorCustoModal" class="form-label">Valor de custo</label>
                        <input type="text" class="form-control money money-input" id="valorCustoModal" name="valorCusto" required />
                        <div class="invalid-feedback">Por favor, insira um valor válido (ex: R$ 12,75).</div>
                    </div>

                    <div class="col-md-12">
                        <label for="valorVendaModal" class="form-label">Valor de venda</label>
                        <input type="text" class="form-control money money-input" id="valorVendaModal" name="valorVenda" required />
                        <div class="invalid-feedback">Por favor, insira um valor válido (ex: R$ 15,99).</div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="salvarEdicao">Salvar Alterações</button>
            </div>
        </div>
    </div>
</div>