@model int
<div class="container d-flex justify-content-center">
    <div class="p-4" style="max-width: 100%; width: 100%;">
        <form id="formVariacao" class="row g-3 needs-validation" novalidate>
            <div class="col-md-10">
                <label for="tipoVariacao" class="form-label">Tipo de Variação</label>
                <select class="form-select tipo-variacao" id="tipoVariacao" name="tipoVariacao">
                    <option selected disabled value="">Escolha...</option>
                </select>
            </div>
            <div class="col-md-2" style="align-content: end;">
                <button type="button" id="btnAdicionarVariacao" class="btn btn-primary">
                    <i class="fa-solid fa-plus"></i>
                </button>
            </div>
            <div class="col-md-12 variacao" style="align-content: end;"></div>
            <div class="col-md-6">
                <button type="submit" class="btn btn-primary">Salvar e avançar</button>
            </div>
        </form>

        <div id="loadingMessage" class="text-center m-auto" style="display: none;">
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Carregando...</span>
            </div>
            <p>Processando, por favor aguarde...</p>
        </div>

        <div id="successMessage" class="text-center mb-10" style="display: none;">
            <i class="fas fa-check-circle text-success" style="font-size: 30px;"></i>
            <p>Operação realizada com sucesso!</p>
        </div>
    </div>
</div>

<script language="javascript">
    $(document).ready(function () {
        let contadorVariacoes = 0;

        async function carregarTiposVariacao() {
            try {
                const response = await $.ajax({
                    url: '/Administrador/GetTipoVariacao',
                    type: 'GET'
                });
                response.forEach(item => {
                    const html = `<option value="${item.nCdVariacao}">${item.sNmVariacao}</option>`;
                    $('.tipo-variacao').append(html);
                });
            } catch (error) {
                console.error('Erro ao buscar variações:', error);
                alert('Erro ao carregar as variações.');
            }
        }

        async function adicionarVariacao() {
            const tipo = $('#tipoVariacao').val();
            if (!tipo) {
                alert('Selecione um tipo de variação.');
                return;
            }

            try {
                const response = await $.ajax({
                    url: '/Administrador/GetOpcoesVariacao',
                    type: 'GET',
                    data: { tipo: tipo }
                });

                if (response && response.length > 0) {
                    contadorVariacoes++;
                    const collapseId = `collapse_${contadorVariacoes}`;
                    const headerId = `heading_${contadorVariacoes}`;
                    const cardId = `card_${contadorVariacoes}`;

                    let html = `
                        <div class="card mt-2" id="${cardId}">
                            <div class="card-header d-flex justify-content-between align-items-center" id="${headerId}"><h5 class="mb-0">
                                    <button class="btn btn-link text-decoration-none text-dark" type="button" data-bs-toggle="collapse" data-bs-target="#${collapseId}" aria-expanded="true" aria-controls="${collapseId}">
                                        Variação: ${tipo}</button></h5>
                                <button class="btn btn-danger btn-sm remove-variacao" data-target="${cardId}"><i class="fa-solid fa-trash"></i></button></div>
                            <div id="${collapseId}" class="collapse show" aria-labelledby="${headerId}"><div class="card-body">
                    `;

                    response[0].variacaoOpcoes.forEach((item, index) => {
                        const checkboxId = `variacao_${contadorVariacoes}_${index}`;
                        html += `
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="variacao_${contadorVariacoes}" value="${item.nCdVariacaoOpcao}|${response[0].nCdVariacao}" id="${checkboxId}">
                                <label class="form-check-label" for="${checkboxId}">
                                    ${item.sNmVariacaoOpcao}
                                </label>
                            </div>
                        `;
                    });

                    html += `</div></div></div>`;
                    $('.variacao').append(html);
                } else {
                    alert('Nenhuma opção de variação encontrada.');
                }
            } catch (error) {
                console.error('Erro ao buscar variações:', error);
                alert('Erro ao carregar as variações.');
            }
        }

        async function adicionarVariacoesProduto() {
            var nCdProduto = @Model; 
            try {
                const response = await $.ajax({
                    url: '/Administrador/ConsultarVariacoesProduto',
                    type: 'GET',
                    data: { nCdProduto: nCdProduto }
                });

                if (response && response.length > 0) {
                    const variacaoPorTipo = response.reduce((acc, produtoVariacao) => {
                        const key = produtoVariacao.nCdVariacao;
                        if (!acc[key]) {acc[key] = [];}
                        acc[key].push(produtoVariacao);
                        return acc;
                    }, {});

                    for (const [nCdVariacao, variacoes] of Object.entries(variacaoPorTipo)) {
                        contadorVariacoes++;
                        const collapseId = `collapse_${contadorVariacoes}`;
                        const headerId = `heading_${contadorVariacoes}`;
                        const cardId = `card_${contadorVariacoes}`;

                        let html = `
                            <div class="card mt-2" id="${cardId}">
                            <div class="card-header d-flex justify-content-between align-items-center" id="${headerId}">
                                <h5 class="mb-0">
                                    <button class="btn btn-link text-decoration-none text-dark" type="button" data-bs-toggle="collapse" data-bs-target="#${collapseId}" aria-expanded="true" aria-controls="${collapseId}">Variação: ${nCdVariacao}</button>
                                </h5>
                                <button class="btn btn-danger btn-sm remove-variacao" data-target="${cardId}"><i class="fa-solid fa-trash"></i></button>
                            </div>
                            <div id="${collapseId}" class="collapse show" aria-labelledby="${headerId}"><div class="card-body">
                            `;

                        variacoes.forEach((produtoVariacao, index) => {
                            const checkboxId = `variacao_${contadorVariacoes}_${index}`;
                            const isChecked = produtoVariacao.bFlAtrelado === 1 ? 'checked' : '';

                            html += `<div class="form-check">
                                <input class="form-check-input" type="checkbox" name="variacao_${contadorVariacoes}" value="${produtoVariacao.nCdVariacaoOpcao}|${produtoVariacao.nCdVariacao}" id="${checkboxId}" ${isChecked}>
                                <label class="form-check-label" for="${checkboxId}">${produtoVariacao.sNmVariacaoOpcao}</label></div>`;
                            });

                        html += `</div></div></div>`;
                        $('.variacao').append(html);
                    }
                } else {
                    document.querySelector('.variacao').innerHTML = "<p>Nenhuma variação encontrada.</p>";
                }
            } catch (error) {
                document.querySelector('.variacao').innerHTML = "<p>Erro ao carregar variações.</p>";
            }
        }

        async function enviarFormulario(event) {
            var nCdProduto = @Model;
            event.preventDefault();
            if (event.target.checkValidity() === false) {
                event.stopPropagation();
                $(event.target).addClass('was-validated');
                return;
            }

            const variacoes = [];

            for (let i = 1; i <= contadorVariacoes; i++) {
                $(`input[name="variacao_${i}"]:checked`).each(function () {
                    const [nCdVariacaoOpcao, nCdVariacao] = $(this).val().split('|');
                    const variacaoExistente = variacoes.find(v => v.nCdVariacao === parseInt(nCdVariacao, 10));

                    if (!variacaoExistente) {
                        variacoes.push({
                            nCdVariacao: parseInt(nCdVariacao, 10),
                            sNmVariacao: `Variação ${nCdVariacao}`,
                            sDsVariacao: `Descrição da variação ${nCdVariacao}`,
                            bFlAtiva: true,
                            VariacaoOpcoes: [{
                                nCdVariacaoOpcao: parseInt(nCdVariacaoOpcao, 10),
                                sNmVariacaoOpcao: `Opção ${nCdVariacaoOpcao}`,
                                sDsVariacaoOpcao: `Descrição da opção ${nCdVariacaoOpcao}`,
                                bFlAtiva: true
                            }]
                        });
                    } else {
                        variacaoExistente.VariacaoOpcoes.push({
                            nCdVariacaoOpcao: parseInt(nCdVariacaoOpcao, 10),
                            sNmVariacaoOpcao: `Opção ${nCdVariacaoOpcao}`,
                            sDsVariacaoOpcao: `Descrição da opção ${nCdVariacaoOpcao}`,
                            bFlAtiva: true
                        });
                    }
                });
            }

            $('#formVariacao').hide();
            $('#loadingMessage').show();

            try {
                const response = await $.ajax({
                    url: '@Url.Action("EditarVariacaoProduto", "Administrador")',
                    type: 'PUT',
                    contentType: 'application/json',
                    data: JSON.stringify({ variacoes, nCdProduto }), 
                    dataType: 'json'
                });

                if (response.success) {
                    $('#loadingMessage').hide();
                    setTimeout(function () {
                        $('#successMessage').fadeIn();
                    }, 1000);

                    location.href = '@Url.Action("ProdutoImagem", "Administrador")/' + response.codigoProduto;                
                } else {
                    console.log(response.message);
                }
            } catch (error) {
                if (error.status === 400) {
                    const errors = error.responseJSON.errors;
                    console.log("Erros de validação: " + errors.join(", "));
                } else {
                    console.log('Ocorreu um erro ao salvar os dados: ' + error);
                }
            } finally {
                $('#loadingMessage').hide();
            }
        }

        function removerVariacao(event) {
            const cardId = $(event.currentTarget).data('target');
            $('#' + cardId).remove();
        }

        $('#btnAdicionarVariacao').on('click', adicionarVariacao);
        $(document).on('click', '.remove-variacao', removerVariacao);
        $('#formVariacao').on('submit', enviarFormulario);

        // Inicialização
        carregarTiposVariacao();
        adicionarVariacoesProduto();
    });
</script>