@{
    ViewData["Title"] = "Produtos";
}

<div class="container d-flex justify-content-center">
    <div class="p-4" style="max-width: 70%; width: 100%;">
        <form id="formProduto" class="row g-3 needs-validation" novalidate>
            <!-- Campos do formulário -->
            <div class="col-md-10">
                <label for="nomeProduto" class="form-label">Nome do Produto</label>
                <input type="text" class="form-control" id="nomeProduto" name="nomeProduto" required>
                <div class="valid-feedback">
                    Nome válido!
                </div>
                <div class="invalid-feedback">
                    Por favor, insira o nome do produto.
                </div>
            </div>
            <div class="col-md-2">
                <label for="codigoProduto" class="form-label">Código</label>
                <div class="input-group has-validation">
                    <span class="input-group-text" id="inputGroupPrepend">#</span>
                    <input type="text" class="form-control" id="codigoProduto" name="codigoProduto" aria-describedby="inputGroupPrepend" required>
                    <div class="invalid-feedback">
                        Por favor, insira o código do produto.
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <label for="preco" class="form-label">Preço de Venda</label>
                <div class="input-group has-validation">
                    <span class="input-group-text" id="inputGroupPrepend">R$</span>
                    <input type="text" class="form-control preco" id="preco" name="preco" aria-describedby="inputGroupPrepend" required>
                    <div class="invalid-feedback">
                        Por favor, insira um valor monetário válido.
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <label for="preco" class="form-label">Preço unitário</label>
                <div class="input-group has-validation">
                    <span class="input-group-text" id="inputGroupPrepend">R$</span>
                    <input type="text" class="form-control preco" id="precoUnitario" name="precoUnitario" aria-describedby="inputGroupPrepend" required>
                    <div class="invalid-feedback">
                        Por favor, insira um valor monetário válido.
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <label for="descricaoProduto" class="form-label">Descrição do produto</label>
                <textarea class="form-control" style="max-height: 150px;" id="descricaoProduto" name="descricaoProduto" required></textarea>
                <div class="invalid-feedback">
                    Por favor, insira a descrição do produto.
                </div>
            </div>
            <div class="col-md-3">
                <label for="tipoUnidade" class="form-label">Tipo de Unidade</label>
                <select class="form-select unidade" id="tipoUnidade" name="tipoUnidade" required>
                    <option selected disabled value="">Escolha...</option>
                </select>
                <div class="invalid-feedback">
                    Por favor, selecione o tipo de unidade.
                </div>
            </div>
            <div class="col-md-4">
                <label for="tagsBusca" class="form-label">Tags para busca</label>
                <input type="text" class="form-control" id="tagsBusca" name="tagsBusca" required>
                <div class="invalid-feedback">
                    Por favor, insira as tags para busca.
                </div>
            </div>
            <div class="col-md-5">
                <label for="videoYoutube" class="form-label">Vídeo do youtube</label>
                <input type="text" class="form-control" id="videoYoutube" name="videoYoutube" required>
                <div class="invalid-feedback">
                    Por favor, insira o link do vídeo do YouTube.
                </div>
            </div>
            <br />
            <h6 class="mt-12">Dimensões da embalagem <span class="badge bg-secondary"><i class="fas fa-gear"></i></span></h6>

            <div class="col-md-6">
                <label for="largura" class="form-label">Largura (cm)</label>
                <input type="text" class="form-control" id="largura" name="largura" required>
                <div class="invalid-feedback">
                    Por favor, insira a largura da embalagem.
                </div>
            </div>
            <div class="col-md-6">
                <label for="comprimento" class="form-label">Comprimento (cm)</label>
                <input type="text" class="form-control" id="comprimento" name="comprimento" required>
                <div class="invalid-feedback">
                    Por favor, insira o comprimento da embalagem.
                </div>
            </div>
            <div class="col-md-6">
                <label for="altura" class="form-label">Altura (cm)</label>
                <input type="text" class="form-control" id="altura" name="altura" required>
                <div class="invalid-feedback">
                    Por favor, insira a altura da embalagem.
                </div>
            </div>
            <div class="col-md-6">
                <label for="peso" class="form-label">Peso (kg)</label>
                <input type="text" class="form-control" id="peso" name="peso" required>
                <div class="invalid-feedback">
                    Por favor, insira o peso da embalagem.
                </div>
            </div>
            <div class="col-md-6">
                <button type="submit" class="btn btn-primary">Salvar e avançar</button>
            </div>
        </form>

        <!-- Mensagem de processamento -->
        <div id="loadingMessage" class="text-center m-auto" style="display: none;">
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Carregando...</span>
            </div>
            <p>Processando, por favor aguarde...</p>
        </div>

        <!-- Div para carregar o próximo passo -->
        <div id="proximoPassoContainer" class="mt-4"></div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $.ajax({
                url: '/Administrador/UnidadeDeMedida',
                type: 'GET',
                data: {},
                success: function (response) {
                    var html = "";
                    response.forEach((item, index) => {
                        html += `<option value="${item.nCdUnidadeMedida}" >${item.sDsUnidadeMedida}</option>`;
                    });
                    $('.unidade').append(html);
                },
                error: function (xhr, status, error) {
                    console.error('Erro ao buscar unidades de medidas:', error);
                    alert('Erro ao carregar as unidades de medidas.');
                }
            });

            $('#formProduto').on('submit', function (e) {
                e.preventDefault();
                if (this.checkValidity() === false) {
                    e.stopPropagation();
                    $(this).addClass('was-validated');
                    return;
                }

                $('#formProduto').hide();
                $('#loadingMessage').show();

                setTimeout(function () {
                    var formData = {
                        sNmProduto: $('#nomeProduto').val(),
                        sCdProduto: $('#codigoProduto').val(),
                        sDsProduto: $('#descricaoProduto').val(),
                        nCdUnidadeMedida: parseInt($('#tipoUnidade').val()),
                        sUrlVideo: $('#videoYoutube').val(),
                        sLargura: $('#largura').val(),
                        sComprimento: $('#comprimento').val(),
                        sAltura: $('#altura').val(),
                        sPeso: $('#peso').val(),
                        dVlVenda: parseFloat($('#preco').val().replace(',', '.')),  
                        dVlUnitario: parseFloat($('#precoUnitario').val().replace(',', '.'))  
                    };

                    $.ajax({
                        url: '@Url.Action("SalvarDados", "Administrador")',
                        type: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify(formData),
                        success: function (response) {
                            if (response.success) {
                                $('#loadingMessage').hide();
                                $('#proximoPassoContainer').load('@Url.Action("ProximoPasso", "Administrador")', function (response, status, xhr) {
                                    if (xhr.status === 302) {
                                        window.location.href = '@Url.Action("ProximoPasso", "Administrador")';
                                    }
                                });
                            } else {
                                alert(response.message);
                            }
                        },
                        error: function (xhr, status, error) {
                            if (xhr.status === 400) {
                                var errors = xhr.responseJSON.errors;
                                alert("Erros de validação: " + errors.join(", "));
                            } else {
                                alert('Ocorreu um erro ao salvar os dados: ' + error);
                            }
                        }
                    });
                }, 1000); 
            });

            function validarValorMonetario(valor) {
                return /^[0-9,.]*$/.test(valor);
            }

            function formatarValorMonetario(valor) {
                valor = valor.replace(/[^0-9,]/g, '');
                valor = valor.replace(',', '.');
                if (!valor || valor.trim == '') return null;
                else return parseFloat(valor);
            }

            $('.preco').on('input', function () {
                var valor = $(this).val();

                if (!validarValorMonetario(valor)) {
                    $(this).val(valor.replace(/[^0-9,.]/g, ''));
                }

                if (!validarValorMonetario(valor) || valor == null) {
                    $(this).addClass('is-invalid');
                } else {
                    $(this).removeClass('is-invalid');
                }
            });

            $('.preco').on('blur', function () {
                var valor = $(this).val();

                if (!validarValorMonetario(valor)) {
                    $(this).addClass('is-invalid');
                } else {
                    $(this).removeClass('is-invalid');

                    var valorFormatado = formatarValorMonetario(valor);
                    $(this).val(valorFormatado.toFixed(2).replace('.', ','));
                }
            });
        });
    </script>
}