<div class="container d-flex justify-content-center content" style="display: hidden;"></div>
<div class="container">
    
    <div class="row mb-3">
        <div class="col-md-4">
            <label for="sNmProduto" class="form-label">Filtrar por Nome</label>
            <input type="text" id="sNmProduto" class="form-control" placeholder="Digite o nome...">
        </div>
        <div class="col-md-4">
            <label for="sDsProduto" class="form-label">Filtrar por Descrição</label>
            <input type="text" id="sDsProduto" class="form-control" placeholder="Digite a descrição...">
        </div>
        <div class="col-md-4 d-flex align-items-end">
            <button id="btnLimparFiltros" class="btn btn-secondary">Limpar Filtros</button>
        </div>
    </div>

    <div id="gridContainer" class="mt-4" style="max-height: 800px;overflow: scroll;">
        <label for="table-responsive" class="form-label">Produtos</label>
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Imagem</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Descrição</th>
                        <th scope="col">Ações</th>
                    </tr>
                </thead>
                <tbody id="gridBody"></tbody>
            </table>
        </div>
    </div>

    <div class="pagination-controls d-flex justify-content-center mt-3">
        <button id="prev-page" class="btn btn-secondary">Anterior</button>
        <div id="pagination-buttons" class="mx-3"></div>
        <button id="next-page" class="btn btn-secondary">Próximo</button>
    </div>
</div>

<div id="loadingMessage" class="text-center m-auto" style="display: none;">
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Carregando...</span>
    </div>
    <p>Processando, por favor aguarde...</p>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            const pageSize = 10;
            var currentPage = 1;
            var totalPaginas = 0;
            let debounceTimer;

            function debouncedLoadProducts() {
                clearTimeout(debounceTimer);
                debounceTimer = setTimeout(() => {
                    loadProducts(currentPage, true);
                }, 500);
            }

            $('#sNmProduto, #sDsProduto').on('input', debouncedLoadProducts);

            function loadProducts(page, limparGrid = false) {
                const filtroRequest = {
                    sNmProduto: $('#sNmProduto').val(),
                    sDsProduto: $('#sDsProduto').val()
                };

                const paginacaoRequest = {
                    page: page,
                    pageSize: pageSize,
                    oFiltroRequest: filtroRequest
                };

                const params = {
                    page: paginacaoRequest.page,
                    pageSize: paginacaoRequest.pageSize,
                    'oFiltroRequest.sNmProduto': paginacaoRequest.oFiltroRequest.sNmProduto,
                    'oFiltroRequest.sDsProduto': paginacaoRequest.oFiltroRequest.sDsProduto
                };
                $.ajax({
                    url: '@Url.Action("PesquisarProdutosComPaginacao", "Administrador")',
                    type: 'GET',
                    data: params,
                    beforeSend: function () { $('#gridBody').html('<tr><td colspan="5" class="text-center">Carregando...</td></tr>'); },
                    success: function (response) {
                        const gridBody = document.getElementById("gridBody");
                        if (limparGrid || !response.produtos.length) {
                            gridBody.innerHTML = response.produtos.length ? "" : "<tr><td colspan='5'>Nenhum produto encontrado</td></tr>";
                        }

                        response.produtos.forEach((item) => {
                            const row = `
                            <tr>
                               <th scope="row">${item.nCdProduto}</th>
                               <td><img src="https://i.postimg.cc/RZXH7Gwb/sem-imagem.png" alt="Imagem" style="width: 100px; height: auto;"></td>
                               <td>${item.sNmProduto}</td>
                               <td>${item.sDsProduto}</td>
                               <td>
                                <button data-id="${item.nCdProduto}" class="btn btn-sm btn-danger bntExcluir">Excluir</button>
                                <button value="${item.nCdProduto}" name="abrirProduto" class="btn btn-primary btn-sm">Abrir Produto</button>
                               </td>
                            </tr>`;
                            gridBody.insertAdjacentHTML("beforeend", row);
                        });

                        updatePagination(response.totalPaginas, page);
                        totalPaginas = response.totalPaginas;
                    },
                    error: function (xhr, status, error) {
                        console.error('Erro ao buscar produtos', error);
                        $('#gridBody').html('<tr><td colspan="5" class="text-center text-danger">Erro ao carregar produtos</td></tr>');
                    }
                });
            }

            function updatePagination(totalPaginas, currentPage) {
                $('#pagination-buttons').empty();

                for (let i = 1; i <= totalPaginas; i++) {
                    var pageButton = `<button value="${i}" class="btn btn-secondary page-btn ${i === currentPage ? 'active' : ''}">${i}</button>`;
                    $('#pagination-buttons').append(pageButton);
                }

                $('.page-btn').on('click', function () {
                    currentPage = $(this).val();
                    loadProducts(currentPage, true);
                });
            }

            $('#prev-page').on('click', function () {
                if (currentPage > 1) {
                    currentPage--;
                    loadProducts(currentPage, true);
                }
            });

            $('#next-page').on('click', function () {
                if (currentPage < totalPaginas) {
                    currentPage++;
                    loadProducts(currentPage, true);
                }
            });

            loadProducts(currentPage);

            $(document).on('click', '.btn', function () {
                var nCdProduto = $(this).val();
                var nomeAcaoEscolhida = $(this).attr('name');

                if (nomeAcaoEscolhida == "abrirProduto") {
                    window.location.href = '@Url.Action("ProdutoEditar", "Administrador")/' + nCdProduto;
                }
            });
        });
    </script>
}
<style>
    #pagination-buttons .btn {
        margin: 0 5px;
    }

    .pagination-controls {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .page-btn.active {
        background-color: #007bff;
        color: white;
    }
</style>